.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card-item {
  position: relative;
  width: 50%;
  float: left;
}

.card-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000005e;
}

.card-item:hover .image {
  opacity: 1;
}

.card-item:hover .middle {
  opacity: 1;
}

.card-text {
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 10px;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text a{
  color: #f1f1f1;
  text-decoration: none;
}

.back-button {
  background-color: transparent;
    border-style: none;
    color: #878788;
    position: absolute;
    font-size: 32px;
    display: flex;
}

.description {
  padding: 15px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.inline-card-wrapper, .tags-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 0px;
  margin-left: 15px;
}

.inline-card-wrapper .card-item, .tags-wrapper-item {
  flex: 0 0 auto;
}

.inline-card-wrapper .card-item .genre-link{
  color: #fff;
  font-size: 18px;
}

.tabs-button {
  text-transform: uppercase;
  background-color: transparent;
  border-style: none;
  padding: 12px 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* .tabs-button.active{
  border-bottom: solid #444444 1px;
} */

.tabs-button:active, .tabs-button:focus {
  border-style: none;
  outline: 0;
  border-bottom: solid #444444 1px;
}

.expand-icon {
  font-size: 20px;
    border: solid 1px #000;
    border-radius: 20px;
    padding: 1px 5px;
}

.unexpanded {
  max-height: 215px;
  overflow: hidden;
}